/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */
/* ----------------My CSS----------------- */
body {
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

#grid {
  box-sizing: border-box;
  color: #f4a460;
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

.div-book {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-gap: 15px;
  padding: 10px 0;
  border: 1px solid #d8d8d8;
  justify-content: space-between;
}

.div-book:hover {
  background: #f7f7f7;
}

.book {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
}

.read-st {
  width: 100px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-image: linear-gradient(to right, #f46b45 0%, #eea849 51%, #f46b45 100%);
  transition: 1s;
  -webkit-transition: 1s;
}

.read-st:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #f46b45 100%, #eea849 51%, #f46b45 0%);
}

.positive {
  background: green;
}

.negative {
  background: orange;
}

.remove {
  width: 50%;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.remove:hover {
  background: #ff5e00;
}

.main {
  height: 50vh;
  width: 100%;
}

.form {
  font-family: "Roboto Condensed", sans-serif;
  width: 40%;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

#form-user {
  margin: 10%;
}

#title,
#author,
#pages,
#read {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

#submit-btn,
#myBtn {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  justify-self: end;
  margin-bottom: 3%;
  border-radius: 5px;
}

#submit-btn:hover,
#myBtn:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=main.css.map */
